<!--suppress ALL -->
<mj-section background-color="#f0f0f0">
    <mj-column width="100%">
        <mj-text align="center" color="#313131">
            <span>${{ shopName }}</span>
        </mj-text>
    </mj-column>
</mj-section>
</mj-body>
</mjml>
